body {
    background-color:  rgb(145, 201, 135);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

}
h1 {
    color: #dd7c7c;
    text-align: center;
    background-color: blueviolet;
}